
# Specific file types
*.sc
*.class
*.log
*.csv

# SBT folders
**/target
/test-output
/project/target
/project/project
.cache
.history
.lib

# Intellij Idea
*.iml
*.xml
*.ipr
*.iws
.idea
out

!logback.xml